@model RaymiMusic.AppWeb.Models.Auth.RegisterVM
@{
    ViewData["Title"] = "Registro";
}

<h2 class="mb-3">@ViewData["Title"]</h2>

<form asp-action="Register" method="post" class="w-50">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Crear cuenta</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
</form>
 